@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --theme-color: #026CD1;
    --white-color: #ffffff;
    --footer-color: #1B446D;
    --black-color: #000000;
    --text-color: #9B9B9B;
    --para-color: #515151;
    --font64: 64px;
    --font60: 60px;
    --font56: 56px;
    --font52: 52px;
    --font48: 48px;
    --font44: 44px;
    --font40: 40px;
    --font36: 36px;
    --font34: 34px;
    --font32: 32px;
    --font30: 30px;
    --font28: 26px;
    --font26: 26px;
    --font24: 24px;
    --font22: 22px;
    --font20: 20px;
    --font18: 18px;
    --font16: 16px;
    --font14: 14px;
    --font100: 100; /*--thin--*/
    --font200: 200; /*--extra light--*/
    --font300: 300; /*--light--*/
    --font400: 400; /*--regular--*/
    --font500: 500; /*--medium--*/
    --font600: 600; /*--semi bold--*/
    --font700: 700; /*--bold--*/
    --font800: 800; /*--extra bold--*/
    --font900: 900; /*--black--*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
body{
    font-size: var(--font14);
    font-weight: var(--font400);
    font-family: 'Poppins', sans-serif !important;
}
p{
    margin: 0;
}
#scrollmyBtn {
    background-color: #ddd;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    outline: none;
    font-size: var(--font20);
    color: var(--theme-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: .5s;
}
#scrollmyBtn:hover{
    transform: translateY(5px);
    background-color: var(--theme-color);
    color: var(--white-color);
}





/*----- Header Styling -----*/
#header nav{
    border-bottom: 1px solid rgba(2, 108, 209, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
#header .navbar-light .navbar-nav .nav-link {
    color: #ffffffaf;
    font-size: var(--font16);
    transition: 0.3s ease;
}
#header .sticky .navbar-nav .nav-link {
    color: var(--para-color);
}
#header nav.sticky .navbar-brand .logo {
    display: none;
}
#header nav.sticky .navbar-brand .svg-logo {
    display: block;
    height: 46px;
}
#header nav .navbar-brand .svg-logo {
    display: none;
}
#header .navbar-light .navbar-nav .nav-item {
    margin-left: 15px;
}
#header nav.sticky ul.navbar-nav.ml-auto {
    margin-top: 7px;
}
#header ul.navbar-nav.ml-auto {
    margin-top: 0;
}
#header .navbar-light .navbar-nav .nav-link:hover {
    color: var(--white-color);
}
#header nav.sticky .navbar-nav .nav-link:hover {
    color: var(--theme-color);
}
#header .navbar-light .navbar-nav .nav-item.active .nav-link{
    color: var(--white-color);
}
#header nav.sticky .navbar-nav .nav-item.active .nav-link{
    color: var(--theme-color) !important;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-out;
    padding: 40px 100px;
    z-index: 10000;
}
#header nav.sticky{
    background-color: var(--white-color);
    transition: 0.3s ease-out;
    box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.1);
    /* padding-bottom: 20px; */
}
#header .navbar-light .navbar-nav .nav-item.ready a {
    background: var(--white-color);
    color: var(--theme-color);
    border-radius: 30px;
    padding: 5px 15px !important;
    display: block;
    font-weight: var(--font500);
    transition: all 0.3s ease;
    margin-top: 4px;
}
#header nav.sticky .navbar-nav .nav-item.ready a {
    background: #c9e5ff;
    display: inline-block;
    margin-bottom: 10px;
}
#header nav.sticky .navbar-nav .nav-item.ready a:hover {
    color: var(--white-color);
}
#header .navbar-light .navbar-nav .nav-item.ready a:hover {
    background: var(--theme-color);
    color: var(--white-color);
}
#header .navbar-toggler-icon {
    width: 30px;
    height: 30px;
}
#header .navbar-toggler {
    padding: 5px;
    border: none;
}
#header nav.sticky.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}



@media only screen and (max-width: 1199px) {
    #header .navbar .navbar-nav .nav-item.ready a {
        display: inline-block !important;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    #header button.navbar-toggler:focus {
        outline: none !important;
    }
    #header nav.sticky .navbar-brand .svg-logo {
        display: block;
        height: 40px;
    }
}
/*----- End Header Styling -----*/




/*----- Hero Styling -----*/
#hero{
    background: linear-gradient(0deg, #0d294e99, #054874cc), url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#hero h2{
    margin-top: 50px;
    font-size: var(--font64);
    color: var(--white-color);
    font-weight: var(--font500);
}
#hero h1{
    font-size: var(--font64);
    color: var(--white-color);
    font-weight: var(--font700);
    text-decoration: underline;
}
#hero p{
    font-size: var(--font22);
    color: var(--white-color);
    font-weight: var(--font300);
    margin-top: 20px;
}
#hero a.btn {
    background: var(--theme-color);
    color: var(--white-color);
    font-size: var(--font16);
    font-weight: var(--font500);
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0.3s ease;
    margin-top: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    margin: 0 auto;
    margin-top: 30px;
}
#hero a.btn::before {
    content: '';
    position: absolute;
    background: #0058aa;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    border-radius: 2px;
  }
  #hero a.btn:hover:before{
    transform: translateX(0);
  }
  #hero a.btn i {
    font-size: 20px;
    margin-right: 5px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #hero h2 {
        font-size: var(--font48);
    }
    #hero h1 {
        font-size: var(--font48);
    }
    #hero p {
        font-size: var(--font20);
        padding: 0 60px;
    }
    /* .collapse.show {
        display: block;
        background: #000000e3;
    } */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #hero h2 {
        font-size: var(--font44);
    }
    #hero h1 {
        font-size: var(--font44);
    }
    #hero p {
        font-size: var(--font18);
    }
}
@media only screen and (max-width: 767px) {
    #hero {
        height: 70vh;
    }
    #hero h2 {
        font-size: var(--font36);
    }
    #hero h1 {
        font-size: var(--font36);
    }
    #hero p {
        font-size: var(--font16);
    }
}
/*----- End Header Styling -----*/




/*----- Footer Styling -----*/
footer{
    background-color: var(--footer-color);
    padding-top: 80px;
}
footer h5{
    color: var(--white-color);
    font-weight: var(--font600);
    font-size: var(--font24);
    text-transform: uppercase;
    margin-bottom: 15px;
}
footer p{
    color: var(--white-color);
    font-weight: var(--font300);
    font-size: var(--font16);
    margin-right: 100px;
    line-height: 26px;
    font-style: italic;
}
footer ul li a{
    color: var(--white-color);
    font-weight: var(--font300);
    font-size: var(--font16);
    text-transform: capitalize;
    padding: 5px;
    display: inline-block;
    transition: 0.3s ease;
    text-decoration: underline;
}
footer ul li a:hover{
    text-decoration: none;
    color: var(--white-color);
}
footer ul li address{
    color: var(--white-color);
    font-weight: var(--font300);
    font-size: var(--font16);
    text-transform: capitalize;
}
footer ul li i{
    color: var(--white-color);
    font-weight: var(--font300);
    font-size: var(--font18);
    text-transform: capitalize;
}

footer .footer-content {
    padding-bottom: 30px;
}
footer .footer-credit {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0;
}
footer .footer-credit p{
    margin-top: 8px;
}
footer .footer-social a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: rgb(255 255 255 / 30%);
    font-size: var(--font20);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: var(--white-color);
    margin-left: 5px;
    transition: 0.3s ease;
}
footer .footer-social a:hover {
    background: var(--white-color);
    color: var(--theme-color);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    footer h5 {
        font-size: var(--font22);
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    footer p {
        margin-right: 0;
        margin-bottom: 30px;
    }
    footer .footer-credit p {
        margin-top: 4px;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    footer p {
        margin-right: 0;
        margin-bottom: 30px;
    }
    footer .footer-credit p {
        margin-top: 4px;
        margin-bottom: 0;
    }
    footer .footer-credit {
        text-align: center;
    }
    footer .footer-social {
        text-align: center !important;
        margin-top: 10px;
    }
}
/*----- End Footer Styling -----*/





/*----- Innovate Styling -----*/
#innovate{
    background-color: var(--theme-color);
    padding: 60px 0;
}
#innovate .left-content{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
#innovate .border-r{
    border-right: 1px solid var(--white-color);
}
#innovate .left-content img{
    width: 60px;
    margin-right: 10px;
}
#innovate .left-content h6{
    font-size: var(--font22);
    color: var(--white-color);
    line-height: 32px;
}
#innovate .right-content {
    color: var(--white-color);
    font-size: var(--font16);
    padding-left: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #innovate .left-content img{
        width: 50px;
        margin-right: 10px;
    }
    #innovate .left-content h6{
        font-size: var(--font18);
        line-height: 30px;
    }
}
@media only screen and (max-width: 767px) {
    #innovate .border-r{
        border-right: 0px solid var(--white-color);
    }
    #innovate .left-content{
        margin-bottom: 20px;
    }
    #innovate .right-content {
        font-size: var(--font14);
        padding-left: 0px;
    }
    #innovate .left-content h6{
        font-size: var(--font16);
        line-height: 26px;
    }
}
/*----- End Innovate Styling -----*/





/*----- Trusted Companies Styling -----*/
.title{
    text-align: center;
    margin-bottom: 60px;
}
.title h3{
    font-size: var(--font48);
    color: var(--black-color);
    font-weight: var(--font600);
}
.title h3 span{
    display: block;
    color: var(--theme-color);
}
.title p{
    font-size: var(--font16);
    color: var(--black-color);
}
#trusted-company {
    padding: 80px 0;
}
#trusted-company img{
    height: 70px;
    display: block;
    margin: 0 auto;
}
#trusted-company img.center-img{
    height: 100px;
    margin-bottom: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .title h3{
        font-size: var(--font40);
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .title h3{
        font-size: var(--font32);
    }
    #trusted-company img{
        height: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .title{
        margin-bottom: 30px;
    }
    .title h3{
        font-size: var(--font28);
    }
    .title p{
        font-size: var(--font14);
        font-style: italic;
    }
    #trusted-company img{
        margin-bottom: 30px;
    }
    #trusted-company {
        padding: 80px 0 50px 0;
    }
}
/*----- End Trusted Companies Styling -----*/





/*----- Resource Planner Styling -----*/
#resource-planner .planner-bg{
    background:linear-gradient(0deg, rgba(2, 108, 209, 0.5), rgba(2, 108, 209, 0.5)), url(../img/resource-planner-bg.png);
    background-size: cover;
    background-position: center;
    padding: 80px 140px 300px;
    border-radius: 10px;
}
#resource-planner .title h3{
    color: var(--white-color);
}
#resource-planner .title p{
    color: var(--white-color);
    margin-top: 15px;
    font-style: italic;
}
#resource-planner img.planner-img{
    margin-top: -330px;
    margin-bottom: 60px;
    width: 100%;
    padding: 0 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #resource-planner .planner-bg{
        padding: 80px 80px 100px;
    }
    #resource-planner img.planner-img{
        margin-top: -130px;
        padding: 0 15px;
    }
}
@media only screen and (max-width: 767px) {
    #resource-planner .planner-bg{
        padding: 80px 20px 60px;
    }
    #resource-planner img.planner-img{
        margin-top: -70px;
        padding: 0 15px;
    }
}
/*----- End Resource Planner Styling -----*/





/*----- Featured Content Styling -----*/
#feature-content {
    background-color: #F6F8F9;
    padding: 80px 0;
}
#feature-content .title {
    padding: 0 200px;
    text-align: center;
    margin-bottom: 35px;
}
#feature-content .title p{
    font-style: italic;
}
#feature-content .row-flex {
    display: flex;
    flex-wrap: wrap;
}
#feature-content .content-item {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 15px;
    height: 100%;
}
#feature-content .content-item h5{
    font-size: var(--font18);
    color: var(--theme-color);
    font-weight: var(--font600);
}
#feature-content .content-item p{
    font-size: var(--font14);
    color: var(--text-color);
    font-style: italic;
}
#feature-content .content-item img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
#feature-content .content-item .imgWrap {
    width: 55px;
    height: 55px;
    background: var(--theme-color);
    display: block;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}
#feature-content .content-item .content {
    padding-left: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #feature-content .title{
        padding: 0 110px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #feature-content .title{
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {
    #feature-content .title{
        padding: 0;
    }
}
/*----- End Featured Content Styling -----*/





/*----- End Featured Content Styling -----*/
#key-values {
    padding: 80px 0 50px;
}
#key-values .key-item{
    display: flex;
    margin-bottom: 30px;
}
#key-values .key-item h4 {
    width: 30%;
    text-align: right;
    margin-right: 60px;
    font-size: var(--font20);
    font-style: italic;
    color: var(--theme-color);
    font-weight: var(--font500);
    position: relative;
    text-transform: uppercase;
}
#key-values .key-item h4:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: var(--theme-color);
    top: 30px;
    right: 0;
}
#key-values .key-item p{
    width: 70%;
    font-size: var(--font16);
    font-weight: var(--font300);
    color: var(--para-color);
    font-style: italic;
}
#key-values .title {
    margin-bottom: 35px;
}
@media only screen and (max-width: 767px) {
    #key-values .key-item {
        display: block;
        margin-bottom: 30px;
    }
    #key-values .key-item h4 {
        width: 100%;
        margin-bottom: 15px;
        font-size: var(--font18);
    }
    #key-values .key-item p{
        width: 100%;
        text-align: right;
        font-size: var(--font14);
    }
}
/*----- End Featured Content Styling -----*/





/*----- Groe Business Styling -----*/
#grow-business {
    background: linear-gradient(0deg, rgba(180, 180, 180, 0.1), rgba(180, 180, 180, 0.1)), url(../img/grow-business-bg.png);
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    margin-top: 100px;
}
#grow-business .title h3{
    text-align: left;
    color: var(--theme-color);
}
#grow-business .title p{
    text-align: left;
    color: var(--para-color);
    font-style: italic;
    padding-right: 20%;
}
#grow-business .grow-content {
    padding: 40px 40px 30px;
    text-align: center;
    box-shadow: 0 5px 15px #00000014;
    border-radius: 10px;
    background-color: #F6F8F9;
    max-width: 500px;
    margin: 0 auto;
    position: static;
    margin-top: -170px;
}
#grow-business .grow-content h5{
    font-size: var(--font24);
    color: var(--black-color);
    font-weight: var(--font600);
}
#grow-business .grow-content p{
    font-size: var(--font16);
    color: var(--para-color);
    font-weight: var(--font300);
    margin-bottom: 15px;
    font-style: italic;
}
#grow-business .grow-content input.btn{
    width: 100%;
    font-size: var(--font16);
    font-weight: var(--font600);
    background-color: var(--theme-color);
    color: var(--white-color);
    outline: none;
    transition: all 0.3s ease;
}
#grow-business .grow-content input.btn:hover{
    background-color: #0058aa;
    letter-spacing: 0.3px;
}
#grow-business .grow-content input.btn:focus{
    box-shadow: none !important;
    outline: none !important;
}
#grow-business .grow-content input:focus,
#grow-business .grow-content textarea:focus{
    box-shadow: none !important;
    outline: none !important;
    font-size: var(--font16);
}
#grow-business .grow-content .form-control {
    height: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #grow-business .title p {
        padding-right: 10%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #grow-business .title p {
        padding-right: 0;
    }
    #grow-business {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 767px) {
    #grow-business .title p{
        text-align: justify;
    }
    #grow-business .grow-content {
        margin-top: unset;
    }
    #grow-business {
        margin-top: unset;
    }
    #grow-business .title p{
        padding-right: unset;
    }
}
/*----- End Groe Business Styling -----*/





/*----- Special Feature Styling -----*/
#special-feature {
    padding: 80px 0;
}
#special-feature .title {
    padding: 0 200px;
    text-align: center;
    margin-bottom: 35px;
}
#special-feature .title p{
    font-style: italic;
}

#special-feature button.btn.btn-link::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: var(--theme-color);
    left: 15px;
    top: 60%;
}
#special-feature .card {
    border: none;
    margin-bottom: 5px;
}
#special-feature .card-header {
    background-color: var(--white-color);
    border: none;
    border: none;
    padding: 0;
}
#special-feature .card-body {
    background: #E6F0FA;
    border-radius: 0 0 5px 5px;
    padding: 0 40px 20px;
    padding-top: 0;
    font-style: italic;
}
#special-feature button.btn.btn-link {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 40px 5px;
    position: relative;
    text-decoration: none;
    background: #e6f0fa !important;
    width: 100%;
    text-align: left;
    border-top: 3px solid #026cd1;
    border-radius: 5px 5px 0 0;
}
#special-feature button.btn.btn-link.collapsed {
    background: transparent !important;
    border-top: 0px solid #026cd1;
}
#special-feature .hidden {
    display: none;
}

#special-feature .feature-img {
    display: flex;
    position: absolute;
    /* margin-top: 50px; */
}

#special-feature .feature-img-contents {
    display: flex;
    position: absolute;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #special-feature .title{
        padding: 0 110px;
    }
    #special-feature .card {
        margin-bottom: 10px;
    }
    #special-feature .card-body {
        padding: 0 40px 35px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #special-feature .title{
        padding: 0;
    }
    #special-feature .card {
        margin-bottom: unset;
    }
    #special-feature .card-body {
        padding: 0 40px 30px;
    }
}
@media only screen and (max-width: 767px) {
    #special-feature .title{
        padding: 0;
    }
    #special-feature .feature-img{
        margin-top: 20px;
    }
    #special-feature .card {
        margin-bottom: unset;
    }
    #special-feature .card-body {
        padding: 0 40px 30px;
    }
}
/*----- End Special Feature Styling -----*/





/*----- Build Apps Styling -----*/
#buildApp .container {
    background-color: #021f7d;
    border-radius: 10px;
}
#buildApp .title {
    text-align: center;
    margin-bottom: 0px;
}
#buildApp .title h3 {
    font-size: var(--font44);
    color: var(--white-color);
    text-align: left;
}
#buildApp .title p {
    font-size: var(--font16);
    color: var(--white-color);
    text-align: left;
    font-style: italic;
}
#buildApp .app-store{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
#buildApp .app-store img{
    height: 50px;
    margin-right: 15px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #buildApp .title {
        padding-top: 50px;
    }
    #buildApp .title h3 {
        font-size: var(--font36);
    }
    #buildApp .app-store{
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #buildApp .title h3 {
        font-size: var(--font30);
    }
    #buildApp .title {
        padding-top: 30px;
    }
    #buildApp .app-store{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    #buildApp .title {
        padding: 60px 15px;
    }
    #buildApp .title h3 {
        font-size: var(--font28);
    }
    #buildApp .smallHide {
        display: none;
    }
    #buildApp .app-store img{
        height: 40px !important;
    }
}

/*----- End Build Apps Styling -----*/





/*-----Review Styling -----*/
#review{
    padding: 80px 0;
}
#review .title {
    padding: 0 200px;
    text-align: center;
    margin-bottom: 35px;
}
#review .title p{
    font-style: italic;
}
#review .review-item{
    background-color: var(--theme-color);
    padding: 0 15px 30px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    margin-top: 40px;
}
#review .review-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: -37px;
}
#review .review-item h6{
    color: var(--white-color);
    font-size: var(--font20);
    margin-top: 30px;
    text-transform: capitalize;
}
#review .review-item q{
    color: var(--white-color);
    font-size: var(--font14);
    font-style: italic;
    font-weight: var(--font300);
}
#review .rating-star{
    color: orange;
    margin-top: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #review .title{
        padding: 0 110px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #review .title{
        padding: 0;
    }
    #review .review-item {
        margin-bottom: 60px !important;
    }
    #review{
        padding: 80px 0 50px;
    }
}
@media only screen and (max-width: 767px) {
    #review .title{
        padding: 0;
    }
    #review{
        padding: 80px 0 30px;
    }
    #review .review-item {
        margin-bottom: 60px !important;
    }
}
/*----- End Review Styling -----*/





/*----- Effective Module Styling -----*/
#effective-module{
    background:linear-gradient(0deg, rgba(2, 108, 209, 0.5), rgba(2, 108, 209, 0.5)), url(../img/effective-module-bg.png);
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}
#effective-module .title {
    padding: 0 200px;
    margin-bottom: 35px;
}
#effective-module .title h3 {
    color: var(--white-color);
}
#effective-module .title p{
    font-style: italic;
    color: var(--white-color);
}
#effective-module .module-item{
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    position: relative;
    box-shadow: 5px 5px 0px #ffffff4a;
    margin: 10px;
    overflow: hidden;
}
#effective-module span.serial-num {
    font-size: 48px;
    position: absolute;
    left: 9px;
    top: -11px;
    font-family: initial;
    color: #0d74d538;
}
#effective-module span.serial-num::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border: 7px solid #0d74d538;
    left: -25px;
    top: 0px;
    border-radius: 50%;
}
#effective-module .module-item img {
    width: 50px;
    margin: 0 auto;
}
#effective-module .module-item h6{
    font-size: var(--font18);
    font-weight: var(--font600);
    color: var(--theme-color);
    margin-top: 20px;
}
#effective-module .module-item p{
    color: var(--text-color);
    font-size: var(--font14);
    font-weight: var(--font300);
}
#effective-module button.slick-prev {
    top: 110% !important;
    left: 95% !important;
}
#effective-module button.slick-prev:hover,
#effective-module button.slick-next:hover
{
    background: var(--white-color);
}
#effective-module button.slick-prev,
#effective-module button.slick-next {
    background: #2a98ff;
    width: 35px;
    height: 30px;
    border: none !important;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 10px;
}
#effective-module button.slick-next {
    top: 110% !important;
    right: 3px !important;
}
#effective-module .slick-prev:before, .slick-next:before {
    font-family: '';
    font-size: var(--font24);
    line-height: 1;
    color: var(--theme-color);
    opacity: 1;
    font-weight: var(--font700);
    line-height: 18px;
}
#effective-module button.slick-prev.slick-arrow,
#effective-module button.slick-next.slick-arrow {
    background: var(--white-color);
}
#effective-module button.slick-prev.slick-arrow.slick-disabled,
#effective-module button.slick-next.slick-arrow.slick-disabled {
    background: #2a98ff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #effective-module .title{
        padding: 0 110px;
    }
    #effective-module button.slick-prev {
        left: 92% !important;
    }
    #effective-module .module-item {
        padding: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #effective-module .title{
        padding: 0;
    }
    #effective-module button.slick-prev {
        left: 89% !important;
    }
    #effective-module .module-item {
        padding: 20px;
    }
}
@media only screen and (max-width: 767px) {
    #effective-module .title{
        padding: 0;
    }
    #effective-module button.slick-prev {
        left: 78% !important;
    }
    #effective-module .module-item {
        padding: 30px 15px;
    }
}
@media only screen and (min-width: 1500px) {
    #effective-module button.slick-next {
        top: 110% !important;
    }
    #effective-module button.slick-prev {
        top: 110% !important;
        left: 95% !important;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    #effective-module button.slick-next {
        top: 110% !important;
    }
    #effective-module button.slick-prev {
        top: 110% !important;
        left: 93% !important;
    }
}
/*----- End Effective Module Styling -----*/


